<div class="container-fluid">
  <div class="table-wrapper">
    <div class="left-section" [class.collapsed]="isCollapsed">
      <table class="table table-striped table-bordered fixed-height-table">
        <thead class="table-dark">
          <tr>
            <th>Employee ID</th>
            <th *ngIf="!isCollapsed">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees" style="height: 50px">
            <td>{{ employee.id }}</td>
            <td *ngIf="!isCollapsed">{{ employee.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="collapse-toggle" (click)="toggleTable()">
      <span class="arrow-icon" [class.rotated]="isCollapsed">&#9664;</span>
    </div>

    <div class="right-section">
      <div class="scroll-container">
        <table class="table table-striped table-bordered fixed-height-table">
          <thead class="table-dark">
            <tr>
              <th *ngFor="let day of days">{{ day }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees" style="height: 50px">
              <td
                *ngFor="let day of days"
                (click)="openAddComment(employee.id, day)"
              >
                <div class="cell-wrapper d-flex align-items-center">
                  <!-- First comment -->
                  <div
                    class="comment-text"
                    *ngIf="commentsMap[employee.id]?.[day]?.length"
                    title="{{ commentsMap[employee.id][day][0].text }}"
                  >
                    <div class="d-flex align-items-center">
                      <span class="ellipsis-text">
                        • {{ commentsMap[employee.id][day][0].text }}
                      </span>

                      <!-- Show more icon -->
                      <i
                        *ngIf="commentsMap[employee.id][day].length > 1"
                        class="bi bi-three-dots ms-2 text-primary show-more-icon"
                        role="button"
                        (click)="
                          togglePopup(employee.id, day);
                          $event.stopPropagation()
                        "
                      ></i>
                    </div>

                    <!-- Floating popup -->
                    <div
                      class="floating-popup"
                      *ngIf="visiblePopups[employee.id + '_' + day]"
                      (click)="$event.stopPropagation()"
                    >
                      <div
                        *ngFor="
                          let comment of commentsMap[employee.id][day].slice(1)
                        "
                      >
                        • {{ comment.text }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="popup-overlay"
      *ngIf="isAnyPopupVisible()"
      (click)="closeAllPopups()"
    ></div>
  </div>
</div>
