
.collapse-toggle {
  width: 5px;
height: -webkit-fill-available;
  background-color: #007bff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

// .inner-container {
//   display: flex;
//   align-items: flex-start;
// }

// .left-table {
//   transition: all 0.3s ease;
// }



// .arrow-icon {
//   display: inline-block;
//   transition: transform 0.3s ease;
// }

// .arrow-icon.rotated {
//   transform: rotate(180deg);
// }
.inner-container {
  display: flex;
  align-items: flex-start;
}

.left-table,
.right-table {
  max-height: 400px; /* same height for both tables */
  overflow-y: auto;
}

.left-table {
  flex: 0 0 auto;
}

.right-table {
  flex: 1;
  overflow-x: auto;
}

.table th, .table td {
  white-space: nowrap;
  text-align: center;
}


.arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow-icon.rotated {
  transform: rotate(180deg);
}
