<div class="modal-dialog pop-up modal-dialog-scrollable" id="addcomment">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="rosterForm">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              class="form-control shift-desc"
              rows="4"
              formControlName="text"
              maxlength="1000"
            ></textarea>
            <div class="text mt-1 text-muted" style="font-size: smaller">
              {{ remainingChars }} characters remaining
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" (click)="cancel()" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-ok" (click)="submit()">Ok</button>
        </div>
      </form>
    </div>
  </div>
</div>